.home-title-icon {
    font-size: x-large;
}

.home-title {
    margin-left: 16px;
    ion-icon {
        display: inline-block;
        vertical-align: middle;
    }
    h5 {
        display: inline-block;
        vertical-align: middle;
    }
}