<ion-card>
  <img src="../../assets/images/hotel.jpg" />
  <ion-card-header>
    <ion-card-subtitle>
        <ion-item>"municipality" : "Bilbao" - "territory" : "Bizkaia"</ion-item>
    </ion-card-subtitle>
    <ion-card-title>"documentname" : "7KALE BED & BREAKFAST"</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Situada en pleno centro de Bilbao resulta perfecta para visitar a pie algunos de los principales lugares de inter&eacute s tur&iacute stico, como el Museo Guggenheim, el Teatro Arriaga o la Catedral de Santiago. Adem&aacute s se encuentra a 200 metros de la parada de tranv&iacute a Arriaga, a 300 metros de la parada de metro Casco Viejo y a menos de 10 minutos andando de la estaci&oacute n de tren de Abando. Ofrecen la posibilidad de proporcionar informaci&oacute n tur&iacute stica, guardar equipajes e imprimir las tarjetas de embarque.</p>
    <h5>"web" : "www.7kalebnb.com"</h5>
  </ion-card-content>
</ion-card>
