<!-- PUREBA DE MODAL BASICA DE PABLO
<ion-content>
  <ion-button click="dismiss()">Cerrar</ion-button>
</ion-content>
-->


<ion-card>
  <img [src]="rutaImg" />
  <ion-card-header>
    <ion-card-subtitle>
        <ion-item>Municipio : {{municipio}} - Provincia: {{territorio}}</ion-item>
    </ion-card-subtitle>
    <ion-card-title>Nombre : {{nombre}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>{{descripcion}}</p>
    <h5>Web : {{web}}</h5>
  </ion-card-content>
  
</ion-card>

