<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="1">
    <ion-label>1 Km</ion-label>
  </ion-segment-button>
  <ion-segment-button value="5">
    <ion-label>5 Km</ion-label>
  </ion-segment-button>
  <ion-segment-button value="10">
    <ion-label>10 Km</ion-label>
  </ion-segment-button>
  <ion-segment-button value="20">
    <ion-label>20 Km</ion-label>
  </ion-segment-button>
  <ion-segment-button value="25">
    <ion-label>25 Km</ion-label>
  </ion-segment-button>
</ion-segment>
