<ion-segment color="warning" value="1">
  <ion-segment-button value="1" layout="icon-bottom">
    <ion-icon name="pin"></ion-icon>
    <ion-label>1Km</ion-label>
  </ion-segment-button>
  <ion-segment-button value="5" layout="icon-bottom">
    <ion-icon name="pin"></ion-icon>
    <ion-label>5km</ion-label>
  </ion-segment-button>
  <ion-segment-button value="10" layout="icon-bottom">
    <ion-icon name="pin"></ion-icon>
    <ion-label>10Km</ion-label>
  </ion-segment-button>
  <ion-segment-button value="20" layout="icon-bottom">
    <ion-icon name="pin"></ion-icon>
    <ion-label>20Km</ion-label>
  </ion-segment-button>
  <ion-segment-button value="25" layout="icon-bottom">
    <ion-icon name="pin"></ion-icon>
    <ion-label>25Km</ion-label>
  </ion-segment-button>
</ion-segment>

