<!-- Pagina donde muestra en detalle un establecimiento/oferta -->
<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Berton</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="dismiss()" name="close-outline"></ion-icon>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="container" [fullscreen]="true">
  <app-detalle
    [municipio]="municipio"
    [territorio]="territorio"
    [nombre]="nombre"
    [descripcion]="descripcion"
    [web]="web"
    [clase]="clase"></app-detalle>  
</ion-content>
