<ion-list>
  <ion-list-header>
    <ion-label color="primary">
      <h1>{{tipo}}</h1>
    </ion-label>
  </ion-list-header>

  <!-- ion-item *ngFor="let item of listado" (click)="abrirModal(item)"> -->
  <ion-item *ngFor="let item of listado">
    <ion-avatar slot="start">
      <img [src]="image">
    </ion-avatar>
    <ion-label>
      <h1>{{item.properties.documentname|titlecase}}</h1>
      <h2>Localidad: {{item.properties.municipality}}</h2>
      <h2><ion-chip color="primary">
        <ion-icon name="navigate" color="dark"></ion-icon>
        <ion-label>{{muestraDistancia(item.geometry.coordinates[0], item.geometry.coordinates[1])|distancia}}</ion-label>
      </ion-chip></h2>
    </ion-label>
    <ion-buttons>
      <!-- añadir/quitar a/de favoritos-->
      <ion-button *ngIf="(!esFavorito(item))" (click)="anadirFavoritos(item)">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <!-- abrimos la modal de detalle-->
      <ion-button (click)="abrirModal(item)" >
        <ion-icon name="send-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
        
  </ion-item>
</ion-list>

