<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Favoritos
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- hoteles favoritos -->
  <ion-item *ngFor="let item of storageService.hotelesFavoritos" (click)="abrirModalNoOfertas(item, 'hoteles')"> 
    <ion-avatar slot="start">
      <img [src]="avatarHotel">
    </ion-avatar>
    
    <ion-label>
      <h1>{{item.properties.documentname|titlecase}}</h1>
      <h2>Localidad: {{item.properties.municipality}}</h2>
    </ion-label>
      <ion-icon (click)="quitarFavoritos(item, 'hoteles')" color="primary" name="heart"></ion-icon>
  </ion-item>

  <!-- restaurantes favoritos -->
  <ion-item *ngFor="let item of storageService.restaurantesFavoritos" (click)="abrirModalNoOfertas(item, 'restaurantes')"> 
    <ion-avatar slot="start">
      <img [src]="avatarRestaurante">
    </ion-avatar>
    
    <ion-label>
      <h1>{{item.properties.documentname|titlecase}}</h1>
      <h2>Localidad: {{item.properties.municipality}}</h2>
    </ion-label>
      <ion-icon (click)="quitarFavoritos(item, 'restaurantes')" color="primary" name="heart"></ion-icon>
  </ion-item>

  <!-- Casas Rurales favoritos -->
  <ion-item *ngFor="let item of storageService.casasRuralesFavoritos" (click)="abrirModalNoOfertas(item, 'casas rurales')"> 
    <ion-avatar slot="start">
      <img [src]="avatarCasaRural">
    </ion-avatar>
    
    <ion-label>
      <h1>{{item.properties.documentname|titlecase}}</h1>
      <h2>Localidad: {{item.properties.municipality}}</h2>
    </ion-label>
      <ion-icon (click)="quitarFavoritos(item, 'casas rurales')" color="primary" name="heart"></ion-icon>
  </ion-item>

  <!-- Ofertas favoritos -->
  <ion-item *ngFor="let item of storageService.ofertasFavoritos" (click)="abrirModalOfertas(item)"> 
    <ion-avatar slot="start">
      <img [src]="avatarOferta">
    </ion-avatar>
    
    <ion-label>
      <h1>{{item.properties.documentname|titlecase}}</h1>
      <h2>Localidad: {{item.properties.municipality}}</h2>
    </ion-label>
      <ion-icon (click)="quitarFavoritos(item, 'ofertas')" color="primary" name="heart"></ion-icon>
  </ion-item>

</ion-content>
