<!-- pagina que muestra los favoritos de toda la app 
     se puede ver en detalle un favorito concreto o borrarlo -->
<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- hoteles favoritos -->
  <ion-list lines="none" *ngFor="let item of storageService.hotelesFavoritos">
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="avatarHotel" />
        </ion-avatar>

        <ion-label>
          <h1>{{item.properties.documentname|titlecase}}</h1>
          <h2>Localidad: {{item.properties.municipality}}</h2>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option
          (click)="abrirModalNoOfertas(item, 'hoteles')"
          color="primary"
        >
          <ion-icon slot="icon-only" name="send-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="quitarFavoritoHotel(item)" color="danger">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- restaurantes favoritos -->
  <ion-list lines="none" *ngFor="let item of storageService.restaurantesFavoritos">
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="avatarRestaurante" />
        </ion-avatar>

        <ion-label>
          <h1>{{item.properties.documentname|titlecase}}</h1>
          <h2>Localidad: {{item.properties.municipality}}</h2>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option
          (click)="abrirModalNoOfertas(item, 'restaurantes')"
          color="primary"
        >
          <ion-icon slot="icon-only" name="send-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option
          (click)="quitarFavoritoRestaurante(item)"
          color="danger"
        >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Casas Rurales favoritos -->
  <ion-list lines="none" *ngFor="let item of storageService.casasRuralesFavoritos">
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="avatarCasaRural" />
        </ion-avatar>

        <ion-label>
          <h1>{{item.properties.documentname|titlecase}}</h1>
          <h2>Localidad: {{item.properties.municipality}}</h2>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option
          (click)="abrirModalNoOfertas(item, 'casas rurales')"
          color="primary"
        >
          <ion-icon slot="icon-only" name="send-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option
          (click)="quitarFavoritoCasasRurales(item)"
          color="danger"
        >
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Ofertas favoritos -->
  <ion-list lines="none" *ngFor="let item of storageService.ofertasFavoritos">
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="avatarOferta" />
        </ion-avatar>

        <ion-label>
          <h1>{{item.properties.documentname|titlecase}}</h1>
          <h2>Localidad: {{item.properties.municipality}}</h2>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="abrirModalOfertas(item)" color="primary">
          <ion-icon slot="icon-only" name="send-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="quitarFavoritoOferta(item)" color="danger">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <app-alert-sin-resultados tipo="favoritos"
    *ngIf="storageService.hotelesFavoritos.length === 0
      && storageService.restaurantesFavoritos.length === 0
      && storageService.casasRuralesFavoritos.length === 0
      && storageService.ofertasFavoritos.length === 0" ></app-alert-sin-resultados>
</ion-content>
