<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Berton</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="container" [fullscreen]="true">
  <ion-button (click)="gestionarAlmacenamiento()">Almacenamiento</ion-button>
  <app-categoria-inicio 
      [titulo]="categorias[0]"
      [hoteles]="hoteles"></app-categoria-inicio>
  <app-categoria-inicio 
      [titulo]="categorias[1]"
      [restaurantes]="restaurantes"></app-categoria-inicio>
  <app-categoria-inicio 
      [titulo]="categorias[2]"
      [casasRurales]="casasRurales"></app-categoria-inicio>
</ion-content>
