<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content>
      <app-menu-lateral></app-menu-lateral>
    </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Berton
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comentario de Pablo -->
<!-- Comentario de Rocío-->


<ion-content class="container" [fullscreen]="true">
  <app-categoria-inicio *ngFor="let item of categorias" [titulo]="item"></app-categoria-inicio>
</ion-content>
</div>
