<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>Berton</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="container" [fullscreen]="true">
  <app-categoria-inicio-hoteles 
      [titulo]="categorias[0]"></app-categoria-inicio-hoteles>
  <app-categoria-inicio-restaurantes
      [titulo]="categorias[1]"></app-categoria-inicio-restaurantes>
  <app-categoria-inicio-rurales 
      [titulo]="categorias[2]"></app-categoria-inicio-rurales>
</ion-content>
