<ion-grid>
  <ion-row class="ion-align-items-start">
    <ion-col size="12">
      <div class="home-title">
        <ion-icon class="home-title-icon" slot="start" [name]="this.nombreIcono"></ion-icon>
        <h5 class="title-label">{{titulo |titlecase}}</h5>
      </div>  
    </ion-col>
  </ion-row>
  <ion-row class="main-card" *ngIf="rurales.length > 0" >
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide class="card-indv" *ngFor="let item of rurales; let i = index">
          <app-tarjeta-categoria-inicio
            [establecimiento]="item"
            [tipo]="titulo"
            [longitud]="longitud"
            [latitud]="latitud"></app-tarjeta-categoria-inicio>
        </ion-slide>
        <ion-slide>
          <ion-card (click)="abreResultado()" class="card-ver-mas">
            <ion-card-content>
              <div class="card-ver-mas-content">
                <p>Ver más</p>
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="spinner-pos">
        <ion-spinner *ngIf="rurales.length == 0"  name="crescent"></ion-spinner>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
