/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-app {
  --ion-background-color: #d9fff0;
}


.card-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: smaller;
    
}

.card-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    font-size: smaller;
}

.title-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: large;
}

.title-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.main-card {
    
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
    overflow: hidden;
    ion-col {
      display: flex;
      justify-content: center;
      padding: 4px;
    }
    ion-card {
      background-color: #d9fff0;
      margin-bottom: 12px;
      margin-top: 12px;
      width: 100%;
    }
    ion-card-content {
      color: #fff;
    }
    ion-icon {
      font-size: small;
    }
    ion-label {
      font-size: small;
    }
  }

  ion-title {
    color: var(--ion-color-primary);
  }